<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    profile_image:<input type="file" name="profile_image" accept="image/*"><br>
    first_name:<input type="text" name="first_name"><br>
    last_name<input type="text" name="last_name"><br>
    mobile_number<input type="number" name="mobile_number"><br>
    citizenship_number<input type="number" name="citizenship_number"><br>
    temp_address<input type="text" name="temp_address"><br>
    per_address<input type="text" name="per_address"><br>
    citizenship_front<input type="file" name="citizenship_front" accept="image/*"><br>
    citizenship_back<input type="file" name="citizenship_back" accept="image/*"><br>
    <input type="submit">
</form>
